<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Subir Múltiples Imágenes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div id="sidebar">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo del Hospital">
        <h2>Hospital Regional de Lambayeque</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/historial">Historial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro_paciente">Registrar Paciente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
    <div id="content">
        <h1>Subir Múltiples Imágenes DICOM</h1>
        <form action="/upload_multiple" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="files">Seleccionar archivos DICOM</label>
                <input type="file" class="form-control-file" id="files" name="files" multiple required>
            </div>
            <button type="submit" class="btn btn-primary">Subir</button>
        </form>
    </div>
</body>
</html>


